# Python
/__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Virtual environments
venv/
env/
ENV/

**/migrations/
# Logs
*.log

# Temporary files
*.tmp

# SQLite databases
*.sqlite3

# Images
*.jpg
*.jpeg
*.png

# Environment files
.env
