table {
    width: 100%;
    border-collapse: collapse;

}

/* Стили для ячеек заголовков */
th {
    background-color: #696969; /* Цвет фона */
    border: 1px solid #ddd; /* Граница */
    padding: 8px; /* Отступ внутри ячейки */
    text-align: center; /* Выравнивание текста */
    color: black;
    height:50px;
}

/* Стили для ячеек данных */
td {
    border: 1px solid #ddd; /* Граница */
    padding: 4px; /* Отступ внутри ячейки */
    text-align: center; /* Выравнивание текста */
    min-height: 35px;
    /*width:200px;*/
}

tr:has(td.empty-coworker:empty) {
    background-color: #5d2626; /* Красный цвет фона */
}

/* Стили для четных строк */
tbody tr:nth-child(even) {
    /*background-color: #363434; !* Цвет фона *!*/
    background-color: #414040;
}