{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>

<table id="teamTable">
    <thead>
        <tr>
            <th class="hidden" data-column-name="team_id">ID</th>
            <th>Специализация</th>
            <th>Сотрудник</th>
            <th>Статус</th>
            <th>Квалификация</th>
            <th>Разрешения</th>
            <th>Удалить</th>

        </tr>
    </thead>
    <tbody>
    {% for spec in specialists %}
         <tr id = "row_{{ spec.id }}" {% if spec.id == 'tpl' %}class="hidden"{% endif %}>
            <td class="hidden" data-column-name="team_id">{{ spec.id }}</td>
            <td data-column-name="specialisation">
                <select name="specialisation">
                    {% for key,value in spec.specialisations.items %}
                        <option value="{{ forloop.counter }}" {% if value %}selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
            </td>
            {% if spec.spec_name %}
             <td class="empty-coworker" data-column-name="spec_name">
                 <a href="{% url 'profile' username=spec.spec_name %}" class="username">{{ spec.spec_name }} </a>
             </td>
            {% else %}
                <td class="empty-coworker" data-column-name="spec_name"></td>
            {% endif %}
            <td data-column-name="status">
                <select name="status">
                    {% for key,value in spec.statuses.items %}
                        <option value="{{ forloop.counter }}" {% if value %}selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
            </td>
            <td data-column-name="qualify">
                <select name="qualify">
                    {% for key,value in spec.qalifyes.items %}
                        <option value="{{ forloop.counter }}" {% if value %}selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
            </td>
            <td data-column-name="allowances">
                <div class="select-wrapper">
                    <div class="select-header">Список разрешений</div>
                    <ul class="select-options">


                    {% for key,value in spec.allows.items %}
                        <li>
                            <input type="checkbox" id="allow-{{ spec.id }}_{{ forloop.counter }}" name="allowances{{ forloop.counter }}" value="{{ forloop.counter }}" {% if value %}checked{% endif %}>
                            <label for="allow-{{ spec.id }}_{{ forloop.counter }}">{{ key }}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </td>

            <td data-column-name="del-spec">
                <button id="delRowBtn_{{ spec.id }}">Удалить</button>
            </td>

        </tr>
    {% endfor %}
</tbody>
</table>


<button id="addRowBtn">Добавить строку</button>
<button id="saveBtn">Сохранить</button>

</main>
<script>
    // const tableurl: "{# url 'teams' username=user.username #}";
    const taburl = "{% url 'teams' %}";
    const delete_user_from_team = "{% url 'team_delete_user' %}";
    const csrf_token = "{{ csrf_token }}";

</script>
<script src="{% static '' %}{{ page_style }}/js/script.js"></script>
<script>

</script>
{% endblock %}

