{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    {% if brigadir %}
    <h2>Просмотр бригады <a href="{% url 'profile' username=brigadir %}" class="username">{{ brigadir }}</a></h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Специализация</th>
                <th>Имя сотрудника</th>
                <th>Статус</th>
                <th>Квалификация</th>
                <th>Разрешения</th>
                {% if user.status.name != 'Заказ' %}
                <th>Написать</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for specialisation in team %}
                <tr>
                    <td>{{ specialisation.id }}</td>
                    <td>{{ specialisation.specialisation }}</td>
<!--                    <td class="empty-coworker">{{ specialisation.coworker.username }}</td>-->
                    {% if specialisation.coworker %}
                        <td class="empty-coworker"><a href="{% url 'profile' username=specialisation.coworker.username %}" class="username">{{ specialisation.coworker.username }}</a></td>
                    {% else %}
                        <td class="empty-coworker"></td>
                    {% endif %}
                    <td>{{ specialisation.status }}</td>
                    <td>{{ specialisation.qualify }}</td>
                    <td>
                        <ul>
                            {% for allow in specialisation.allow.all %}
                                <li>{{ allow.allow }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% if user.status.name != 'Заказ' or specialisation.coworker.status.name == 'Прораб' %}
                    <td>
                       <form id="new_img_form"
                            action="{% url 'message' recipient=specialisation.coworker.username username=request.user.username %}" method="POST"
                              enctype="multipart/form-data" style="display: flex">
                            {% csrf_token %}
                            <input type="hidden" name="receiver_id" value="{{ specialisation.coworker.id}}">
                            <button id="sender_{{specialisation.coworker.id}}" class="userlinks" type="submit" name="edit_btn" value="new_image">Написать</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if user.status.name == 'Заказ' %}
<!-- Вставьте этот код в ваш шаблон -->
<!--<form action="{% url 'teams' %}delete_teams/{{brigadir}}" method="post">-->
<form action="{% url 'delete_team' brigadir %}" method="post">

    {% csrf_token %}
    <button type="submit" class="userlinks">Завершить заказ</button>
</form>
{% endif %}


</main>
<script>
    const take_url = "{% url 'join_team' user.username %}";
    const token = "{{ csrf_token }}";
</script>
<script src = "{% static page_style %}/js/script.js"></script>
    {% endblock content%}
