/*body{*/
/*    background-color: #939393;*/
/*    width:var(--page-width);*/
/*}*/
.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.user-data {
    display: flex;
    flex-direction: row;
    width: 820px;
    justify-content: space-between;
}

.base-info {
    border-radius: 15px 15px 0 0;
    background-color: rgba(86, 86, 86, 0.72);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 350px;
    height: auto;
    justify-content: flex-start;
}

.spec-info-item {
    background-color: rgba(86, 86, 86, 0.72);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 450px;
    /*height: 100%;*/
    justify-content: space-between;
}

.customer-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 350px;
    height: auto;
    padding: 20px 0;
    margin: 20px 0;
    justify-content: space-between;
}

.head-spec-info {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    justify-items: center;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.78);
    width: 450px;
    background-color: #4b4b4b;
}

.head-customer-info {
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.78);
    width: 350px;
    background-color: #4b4b4b;
}

.list-spec-info {
    /*background-color: #ff0000;*/
    height: 100%;
    /*height: calc(100% + 80px);*/
}

.list-about-info {
    background-color: #696969;
    height: 100%;
}


ul .row-spec-info:nth-child(even) {
    background-color: #656565;
}

/* Стили для нечетных строк */
ul .row-spec-info:nth-child(odd) {
    background-color: #797878;
}

.row-spec-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: relative;
    width: 450px;
    height: 30px;
    padding: 5px 50px;
    justify-content: space-between;
}

.row-customer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: relative;
    width: 350px;
    height: auto;
    padding: 5px 50px;
    justify-content: space-between;
}
/*ul .row-customer-info:nth-child(even) {*/
/*    background-color: #656565;*/
/*}*/

/*!* Стили для нечетных строк *!*/
/*ul .row-customer-info:nth-child(odd) {*/
/*    background-color: #797878;*/
/*}*/
.spec-info {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% + 80px);
    justify-content: space-between;
}
.customer-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-info {
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.78);
    width: 350px;
    background-color: #656565;
    border-radius: 15px 15px 0 0;
}

.status-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 5px 15px;
    width: 350px;
    height: 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.78);
}

.status-item {
    border-radius: 3px;
    background-color: chocolate;
    padding: 5px 10px;
    margin: 0 5px;
}

.user-image {
    border-radius: 30px;
    width: 350px;
    height: auto;
    padding: 15px;
}

.user-name {
    font-weight: lighter;
    text-transform: capitalize;
    padding: 15px 0 0;
}

.user-city {
    background-color: chocolate;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    justify-content: center;
    margin: 15px 20px 0;
}

.user-about {
    padding: 15px;
    display: flex;
    height: 300px;
    width: 100%;
}

.customer-about {
    padding: 15px;
    display: flex;
    height: 600px;
    width: 100%;
}

.user-social {
    position: absolute;
    top: auto; /* Отменяем значение top, если оно было установлено */
    bottom: -80px;
    height:80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    border-top: 2px solid rgba(0, 0, 0, 0.78);
    border-radius: 0 0 15px 15px;
    background-color: #656565;
}

.user-social-item {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.user-social-ico {
    width: auto;
    height: 50px;
    object-fit: cover;
}
.user-mail {
    position: absolute;
    /*padding-bottom: 10px;*/
    bottom:10px;
    width: 100%;
}

.user-messenger {
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: relative;
    justify-content: space-evenly;
    width: 450px;
    background-color: #656565;
}

.userlinks {
    background: none;
    border: none;
    color: chocolate;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: small-caps;
    appearance: auto;
    padding: 5px 10px;
}
