body{
    background-color: #939393;
    width:var(--page-width);
}
.main{
    justify-content: center;
    width: 900px;
}
.base-info {
    border-radius: 15px;
    background-color: #5d2626;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    position: relative;
    width: 300px;
    height: auto;
    justify-content: space-between;
    /*z-index:-9999;*/
}

.head-info {
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 0;
    /*border-bottom: 2px solid chocolate;*/
    width: 300px;

}

.status-row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px 15px;
    width: 300px;
    border-top: 2px solid chocolate;
    border-bottom: 2px solid chocolate;
}

.status-item {
    border-radius: 5px;
    background-color: chocolate;
    padding: 5px 15px;
}

.user-image {
    border-radius: 30px;
    width: 300px;
    height: auto;
    padding: 15px;
}

.user-name {
    font-weight: lighter;
    text-transform: capitalize;
    padding: 15px 0;
}

.user-city {
    background-color: chocolate;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    /*width: 200px;*/
    justify-content: center;
    margin: 0 20px;
}

.user-about {
    padding: 15px;
}

.user-social {
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: relative;
    justify-content: space-between;
    width: 300px;
    border-top: 2px solid chocolate;
}

.user-social-item {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.user-social-ico {
    width: auto;
    height: 50px;
    object-fit: cover;
}


button {
    color: black;
}

.head_1 {
    /* background-color: rgb(71, 92, 92,.4); */
    /*background: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));*/
    padding: 10px;
    /* position: relative;
    justify-content: center;
    align-items: center; */
}

select {
    background-color: black;
    color: white; /* Цвет текста внутри списка */
}

input {
    background-color: black;
    color: white; /* Цвет текста внутри списка */
}

.userlink, button[type="submit"] {
    background: none;
    border: none;
    color: chocolate;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: small-caps;
    appearance: auto;
    padding: 5px 10px;
    font-size: 16px;
}

button[type="submit"].userlink {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: small-caps;
}

.userlinks {
    display: flex;
    align-items: center;
}

/*.userlinks {*/
/*    background: none;*/
/*    border: none;*/
/*    color: chocolate;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*    margin: 0;*/

/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    font-variant: small-caps;*/
/*    appearance: auto;*/
/*    padding: 5px 10px;*/


/*}*/


.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    /*height: 700px;*/
    background-color: #939393;
    border-width: 2px;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 10px grey;
    margin: auto;

}

.inputs {
    /*background-color: #2f2f2f;*/
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: auto;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 600%;
    position: relative;
}

.area-container {
    display: flex;
    background-color: #646464;
    display: flex;
    flex-direction: column;
    width: 333px;
    height: 666px;
    border-radius: 25px;
    border-style: none;
}

textarea.area-container {
}

.fields {
    /*background-color: #525252;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    width: 50%;

}

.txt-input {
    border-radius: 10px;
    width: 100%;
    height: 27px;
}

.button {
    border-radius: 20px;
    padding: 10px 30px;
    margin: 10px;

}

.photo_img {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 245px;
    object-fit: cover;
    border-radius: 16px;
    border: #343c3d solid 5px;
    box-shadow: 3px 3px 10px #343c3d;
}