{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <h1 class="head_1">{% if profile_user %} {{ request.profile_user.status }} {{ profile_user.first_name }}
        {{ profile_user.last_name }}{% endif %}</h1>
    <p>{% if request.user.status.name != 'Заказчик' %}Дата рождения: {% else %}Выполнить до: {{ profile_user.birth }}
        {% endif %} Почта: {{ profile_user.email }} Телефон: {{ profile_user.user_contacts.phone }}</p>
    <div>
        <h2>Мессенджеры:</h2>
        <ul>
            {% for messenger in profile_user.user_contacts.messenger.all %}
            <li>
                <img src="{% static messenger.icon_path %}" alt=messenger.name width="50" height="50">
                {{ messenger.name }}
            </li>
            {% endfor %}
        </ul>

        <form id="new_img_form" class="hero new_edit_form"
              action="{% url 'message' recipient=profile_user.username username=username %}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="receiver_id" value="{{ profile_user.id }}">

            <button id="submitButton" class="button" type="submit" name="edit_btn" value="new_image">
                Сообщения
            </button>

        </form>

        {% if request.user.status.name != 'Заказчик' %}
        <a href="{% url 'portfolio' username=profile_user.username %}">Портфолио</a>
        {% endif %}
    </div>
    <h2>Адрес:</h2>
    <ul>
        {% if profile_user.address.city %}
        <li>Город: {{ profile_user.address.city }}</li>
        {% endif %}
        {% if profile_user.address.district %}
        <li>Район: {{ profile_user.address.district }}</li>
        {% endif %}
        {% if profile_user.address.street %}
        <li>Улица: {{ profile_user.address.street }}</li>
        {% endif %}
        {% if profile_user.address.house_number %}
        <li>Номер дома: {{ profile_user.address.house_number }}</li>
        {% endif %}
        {% if profile_user.address.apartment %}
        <li>Квартира: {{ profile_user.address.apartment }}</li>
        {% endif %}
        {% if profile_user.address.postal_code %}
        <li>Индекс: {{ profile_user.address.postal_code }}</li>
        {% endif %}
    </ul>


    <h2>{% if request.user.status.name != 'Заказчик' %}Квалификация: {% else %}Оплата:{% endif %}</h2>
    <p>{{ profile_user.qualify }}</p>
    <h2> {% if request.user.status.name != 'Заказчик' %}О себе: {% else %}Требуется:{% endif %}</h2>
    <p>{{ profile_user.about }}</p>
    {% if request.user.status.name != 'Заказчик' %}
    <h2>Специализации:</h2>
    <ul>
        {% for specialization in profile_user.specialisation.all %}
        <li>{{ specialization }}</li>
        {% endfor %}
    </ul>

    <h2>Разрешения:</h2>
    <ul>
        {% for allowance in profile_user.allow.all %}
        <li>{{ allowance }}</li>
        {% endfor %}
    </ul>


    <h2>Соцсети:</h2>
    <ul>
        {% for key,value in social_list.items %}
        <li>
            <img src="{% static value.0 %}" alt=key width="50" height="50">
            {{ key }} <a href="{{ value.1 }}">{{ value.1 }}</a>

        </li>
        {% endfor %}
    </ul>

    <h2>Замечания:</h2>
    <ul>
        {% for fine in profile_user.fine.all %}
        <li>{{ fine.fine }}</li>
        {% endfor %}
    </ul>
</main>
{% endif %}
<!-- <script src="{% static '' %}{{ page_style }}/js/script.js"></script> -->
{% endblock %}

