body {
    background-color: #363434;
}

.input-container {
    margin-top: 10px;
    position: fixed;
    display: flex;
    bottom: 0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
}

.message {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.message .user {
    font-weight: bold;
}

.message .time {
    font-size: 0.8em;
    color: #888;
}

.input {
    display: flex;
    width: 100%;
    background-color: blueviolet;
    /*flex-direction: column;*/
}

#message-input {
    display: flex;
    width: 100%;

    /*flex-direction: column;*/
}

#btn-input {
    display: block;
    color: cornsilk;
    background-color: var(--header-color);
    width: 50px;
    height: auto;
    font-weight: bold;
    font-size: 30px;

}

#btn-input:hover {
    font-size: 35px;
    color: #fdfaec;
}

#btn-input:active {
    font-size: 35px;
    color: rgba(64, 255, 0, 0.7);
}

.sender-message {
    background-color: ivory;
    color: black;
}

.receiver-message {
    background-color: var(--header-color);
    color: seashell;
}

.sender-message span{
    color: black;
}

#message-input {
    background-color: var(--header-color);
    color: seashell;
}
