<footer class="header">
    <p class="mails">
    <a href="https://vk.com/niiik27" class="mail">
        <img width="20" height="20" src="{{ '/static/social_ico/Вконтакте-vk.com.ru.png' }}" alt="vk_icon"> Niiik27
    </a>
    <a href="https://github.com/Niiik27/" class="mail">
        <img width="20" height="20" src="{{ '/static/social_ico/Github-github.com.png' }}" alt="vk_icon"> Niiik27
    </a>
    <a href="niiik404@gmail.com" class="mail">niiik404@gmail.com</a>
    <a href="menshikovn@yandex.ru" class="mail">menshikovn@yandex.ru</a>
    </p>
</footer>