<header class="header">
    {% load static %}
    <div class="container">
        <div class="avatar">
            {% if user.is_authenticated == True %}
            {% if user.status.name == 'Заказ' %}

                {% include "header_order.html" %}
            {% else %}
                {% if user.status.name == 'Прораб' %}
                    {% include "header_brigadir.html" %}
                {% else %}
                    {% include "header_regular.html" %}
                {% endif%}
            {% endif %}
            {% endif %}

        </div>
        {% include "header_admin.html" %}
    </div>
    <div>{{ page_style }}</div>
    {% if user.is_authenticated %}
        <script src="{% static 'base/js/script.js' %}"></script>
    {% endif %}
</header>