<div id="menu">
    {% if user.is_authenticated == False %}
        {% if page_style == 'home' %}
            <a href="{% url 'login' %}" class="" type="button">Вход</a>
        {% else %}
            {% if page_style == 'login' %}
                <a href="{% url 'register' %}" class="" type="button">Регистрация</a>
            {% else %}
                <a id="commit-register" href="#" class="" type="button">Зарегистрироваться</a>
            {% endif %}
        {% endif %}
    {% else %}
        <a href="{% url 'users'  %}" type="button">Пользователи <span id="users">0</span></a>
        <a href="{% url 'profile' 'logout' %}" class="" type="button">Выход</a>
        {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" class="admin" type="button">Админка</a>
        {% endif %}
    {% endif %}
</div>

