<header class="header">
    {% load static %}
    <div class="container">

        <div class="avatar">
            {% if user.is_authenticated == False %}
            <a href="{% url 'home' %}" class="username">Главная</a>
            {% else %}
            <a href="{% url 'profile' username=user.username %}" class="username">
                {{ request.user.username }} </a>
            {% if page_style == 'edit' %}
            <a id="saveLink" href="#" class="" type="button">Сохранить</a>
            {% else %}
            {% if page_style != 'team' %}
            <a href="{% url 'profile' username=user.username %}edit" class="" type="button">Редактировать</a>
            {% if request.user.status.name != 'Заказ' %}
            <a href="{% url 'portfolio' username=user.username %}">Портфолио</a>
            {% endif %}
            {% endif %}
            {% endif %}

            {% if request.user.status.name == 'Мастер' and page_style != 'orders' %}
            <a href="{% url 'orders'  %}">Заказы <span id="orders-total">0</span></a>
            {% endif %}
            {% endif %}
        </div>


        <div id="menu">
            {% if user.is_authenticated == False %}

            {% if page_style == 'home' %}
            <a href="{% url 'login' %}" class="" type="button">Вход</a>
            {% else %}
            {% if page_style == 'login' %}
            <a href="{% url 'register' %}" class="" type="button">Регистрация</a>
            {% else %}
            <a id="commit-register" href="#" class="" type="button">Зарегистрироваться</a>
            {% endif %}

            {% endif %}

            {% else %}

            <a href="{% url 'users'  %}" type="button">Пользователи <span id="users">0</span></a>
            <a href="{% url 'profile' 'logout' %}" class="" type="button">Выход</a>

            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" class="admin" type="button">Админка</a>
            {% endif %}
            {% endif %}
        </div>

    </div>
    <div>{{ page_style }}</div>

    {% if user.is_authenticated %}

    <script>

        const notifySocket = new WebSocket('ws://127.0.0.1:8002/ws/notify/');

        notifySocket.onopen = function () {
            console.log('notifySocket connection established.');
            // requestTotalNotify();
        };
        notifySocket.onclose = function () {
            console.log('notifySocket connection closed.');
        };

        notifySocket.onmessage = function (event) {
            console.log('notifySocket onmessage');
            let data = JSON.parse(event.data);
            if (data.type === 'set_statuses') {
                console.log("incomingNotify", data);
                console.log("incomingNotify", data.statuses);
                setStatuses(data.statuses);
            } else if (data.type === 'total') {
                addUnreadNum(data.num);
                console.log('Пришло уведомление о количестве сообщений', data.num, data.type);
            } else if (data.type === 'new_msg') {
                addNewUnreadNum(data.num);
                console.log('Пришло уведомление о новом сообщении', data.num, data.type);
            }

        };

        // function requestTotalNotify() {
        //     notifySocket.send(JSON.stringify({'type': 'total'}));
        // }

        function addUnreadNum(count) {
            let usersContainer = document.getElementById('users');
            usersContainer.textContent = count;
        }

        function addNewUnreadNum(count) {
            let usersContainer = document.getElementById('users');
            let currentCount = parseInt(usersContainer.textContent);
            let newCount = currentCount + count;
            usersContainer.textContent = newCount;
        }

    </script>

    {% endif %}
</header>