{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>
    <div id="message-list"></div>
    <div class="chat-container" id="chat-container">
        <!-- Здесь будут отображаться сообщения -->
    </div>
    <div class="input">
    <textarea id="message-input" rows="3" placeholder="Введите ваше сообщение"></textarea>
    <button id="btn-input" class="arrow-button"  onclick="sendMessage()"> &#9654; </button>
    </div>
    <script>

      document.getElementById("message-input").addEventListener("keyup", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            sendMessage();
        }
    });

        const historySocket = new WebSocket('ws://127.0.0.1:8002/ws/history/');

        historySocket.onopen = function () {
            console.log('HistorySocket connection established.');
            requestHistory();
        };
        historySocket.onclose = function () {
            console.log('HistorySocket connection closed.');
        };


        historySocket.onmessage = function (event) {
            console.log('historySocket onmessage');
            let data = JSON.parse(event.data);
            addMessageToChat(data.sender_name, data.message, data.type);
        };

        function requestHistory() {
            let receiver_name = "{{ recipient }}";
            let receiver_id = "{{ receiver_id }}";
            let sender_name = "{{ sender }}";
            let sender_id = "{{ sender_id }}";


            historySocket.send(JSON.stringify({
                'channel_name': receiver_id,
                'receiver_name': receiver_name,
                'sender_name': sender_name,
                'sender_id': sender_id
            }));
        }

        const ws = new WebSocket('ws://127.0.0.1:8002/ws/chat/');
        let sender_name = "{{ sender }}";
        let receiver_name = "{{ recipient }}";
        function sendMessage() {
            let messageInput = document.getElementById('message-input');
            let message = messageInput.value.trim();

            let receiver_id = "{{ receiver_id }}";

            let sender_id = "{{ sender_id }}";
            // console.log("receiver_id:", receiver_id, "receiver_name:", receiver_name);
            // console.log("sender_id:", sender_id, "sender_name:", sender_name);
            // console.log("message:", message);
            if (receiver_id && message !== '') {
                ws.send(JSON.stringify({
                    'type': 'chat_message',
                    'message': message,
                    'channel_name': receiver_id,
                    'receiver_name': receiver_name,
                    'sender_name': sender_name,
                    'sender_id': sender_id
                }));
                messageInput.value = '';
            }
        }

        function addMessageToChat(sender, message,type) {
            let chatContainer = document.getElementById('chat-container');
            let messageElement = document.createElement('div');
            messageElement.classList.add('message');
            console.log(type)
            if (type === 'from_me') {
                messageElement.classList.add('sender-message');
            } else {
                messageElement.classList.add('receiver-message');
            }
            messageElement.innerHTML = '<span class="user">' + sender + '</span>: ' + message;
            chatContainer.appendChild(messageElement);
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }


        ws.onopen = function () {
            console.log('WebSocket connection established.');
        };


        ws.onmessage = function (event) {
            console.log('onmessage');
            let data = JSON.parse(event.data);
            console.log(data.message);
            addMessageToChat(data.sender_name, data.message, data.type);
        };


        ws.onclose = function () {
            console.log('WebSocket connection closed.');
        };
    </script>
</main>
{% endblock %}
