:root {
    --header-height: 40px;
    --header-color: #343c3d;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    height:100%;
    padding-top: var(--header-height);
    padding-bottom: var(--header-height);
    /*background: seashell;*/
    background-color: #363434;
}

header {
    /*background: linear-gradient(var(--header-color) 0px, transparent);*/
    background: var(--header-color);
    top: 0;
}

.header {
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    min-height: var(--header-height);
    left: 0;
}

footer {
    /*background: linear-gradient(transparent 0px, var(--header-color));*/
    background: var(--header-color);
    bottom: 0;
    /*text-align: right;*/
}

.mails {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: auto;
    /*margin-right: 5px;*/
    /*background-color: blueviolet;*/
}

.mail {
    text-decoration: none;
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    /*font-variant: small-caps;*/
    appearance: auto;
    padding: 0 10px;
    color: aliceblue;
}


header a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: small-caps;
    appearance: auto;
    padding: 0 10px;

}

.header a:hover {
    transform: scale(1.1);
}

.header a:active {
    color: red;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    align-content: center;
    justify-content: space-between;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar a {
    color: chocolate;
}

.avatar a:hover {
    color: aliceblue;
}

#menu a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: small-caps;
    appearance: auto;
    padding: 0 10px;
    color: aliceblue;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

#menu .admin {
    color: darkred;
}

/*.header-wrapper {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    height: 80px;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    !*background: black;*!*/
/*}*/

/*.header-right {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    width: 25%;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    !*background: #1332ff;*!*/
/*}*/


/*.header-right > .link {*/
/*    !*margin-left: 40px;*!*/
/*}*/

/*.header-right > .link:hover {*/
/*    color: #f57004;*/
/*}*/

/*.link {*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    font-family: sans-serif;*/
/*    transition: 0.3s;*/
/*}*/

/*.link:hover {*/
/*    color: #f57004;*/

/*}*/


/*.link-primary {*/
/*    color: #f57004;*/

/*}*/

/*.link-primary:hover {*/
/*    color: #ffffff;*/
/*}*/

/*.link.link-primary:hover {*/
/*    color: #ffffff;*/
/*}*/


/*nav > div > .link {*/
/*    !*margin: 0 20px;*!*/
/*}*/

/*.info-block {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*background: #55dc38;*!*/
/*    width: 65%;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.base-block {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*background: #f5d926;*!*/
/*    width: 25%;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/


/*.nav_wrapper {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    width: 60%;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    !*background: #f54706;*!*/
/*}*/

/*.logo {*/
/*    !*background: #bd1ae8;*!*/
/*    width: 10%;*/
/*}*/
